.center {
  text-align: center;
}

.header-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.header-box ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 700px;
  justify-content: space-between;
  align-self: center;
}

.header-box ul li a {
  text-decoration: none;
  font-size: 16pt;
  color: rgb(155, 18, 18);
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.story-box {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.story-box ul li a {
  text-decoration: none;
  font-size: 13pt;
  color: rgb(53, 4, 133);
}

.story-box p {
  font-size: 13pt;
}

.member-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.member-box p {
  font-size: 13pt;
  color: rgb(255, 99, 71);
}

.member-box ul li a {
  text-decoration: none;
  font-size: 13pt;
  color: rgb(53, 4, 133);
}

.rose-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rose-facts {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rose-accounts {
  flex-direction: column;
  margin-bottom: 70px;
}

.rose-accounts ul li a {
  text-decoration: none;
  font-size: 13pt;
  color: rgb(53, 4, 133);
}

.jisoo-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.jisoo-facts {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.jisoo-accounts {
  flex-direction: column;
  margin-bottom: 70px;
}

.jisoo-accounts ul li a {
  text-decoration: none;
  font-size: 13pt;
  color: rgb(53, 4, 133);
}

.jennie-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.jennie-facts {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.jennie-accounts {
  flex-direction: column;
  margin-bottom: 70px;
}

.jennie-accounts ul li a {
  text-decoration: none;
  font-size: 13pt;
  color: rgb(53, 4, 133);
}

.lisa-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lisa-facts {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.lisa-accounts {
  flex-direction: column;
  margin-bottom: 70px;
}

.lisa-accounts ul li a {
  text-decoration: none;
  font-size: 13pt;
  color: rgb(53, 4, 133);
}
