.center {
  text-align: center;
}

.scrollmenu {
  background-color: rgb(155, 18, 18);
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.scrollmenu a:hover {
  background-color: #777;
}

.header-box {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.textunderimage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.story-box {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.story-box ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(53, 4, 133);
}

.story-box p {
  font-size: 1.2rem;
}

.member-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.member-box p {
  font-size: 1.5rem;
  color: rgb(255, 99, 71);
}

.member-box ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(53, 4, 133);
}

.img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.facts {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.accounts {
  flex-direction: column;
  margin-bottom: 70px;
}

.accounts ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(53, 4, 133);
}
